<app-header></app-header>

<!-- <div class="main" *ngFor="let event of events; trackBy: trackById">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{event.zone_name}}</h5>
      <p class="card-text">{{event.zone_info}}</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div> -->

<div class="main d-flex flex-wrap">
  <div class="card" *ngFor="let event of events; trackBy: trackById">
    <div class="card-body">
      <h5 class="card-title">{{ event.zone_name }}</h5>
      <p class="card-text">{{ event.zone_info }}</p>
      <p class="card-text">booth:{{ event.number_of_booths }}</p>
      <a [routerLink]="['/booth', event.zone_id]" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>

