<mat-toolbar class="fxLayout dark" 
style="width: 100%;
      height: 80px;
      flex-direction: row;
      justify-content: space-between;
      background-color: black;
      color: ghostwhite;">
    <div class="fxLayout" style="flex-direction: row; align-items: center;">
      <mat-icon></mat-icon>
      <span>&nbsp;Booking Booth</span>
    </div>
    <div>
      <button mat-flat-button style="background-color: black; color: ghostwhite;">Event</button>
      <button mat-flat-button [matMenuTriggerFor]="menu" style="background-color: black; color: ghostwhite;">Details</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/movie/blackadam">Black Adam</button>
        <button mat-menu-item><a href="/movie/blackpanther">Black Panther</a></button>
      </mat-menu>
      <button mat-flat-button style="background-color: black; color: ghostwhite;">Box office</button>
      <button mat-flat-button style="background-color: black; color: ghostwhite;">About us</button>
    </div>  
    </mat-toolbar>
